header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #fff;
    color: #000;
}
.MuiBox-root.css-1t6c9ts button {
    color: #000;
}